<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Users List</div>
                <div class="font-medium tracking-tight text-secondary">Total 6 User account</div>
            </div>
            <div class="flex items-center ml-6">
                <button
                    class="hidden sm:inline-flex"
                    mat-raised-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:save'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>
                <button
                    class="hidden sm:inline-flex ml-3"
                    mat-flat-button color="primary">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
                    <span class="ml-2">Add User</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-wrap items-start w-full">
            <table
                class="w-full bg-transparent"
                #recentTransactionsTable>
            </table>
        </div>
    </div>
    
</div>
